* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  /* background: #000;
  color:#fff; */
  font-family: var(--primary-font), serif;
}

a{
  text-decoration: none;
  color:#fff;
}

@media only screen and (min-width: 599px) {
  .container{
    padding: 0 40px;
  }
}

.image-fit-content{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.expand-cell{
  width: 12px;
  height: 12px;
}

.expand-cell img{
  display: none;
  cursor: pointer
}

tr:hover .expand-cell img{
  display: block;
}

.avatar-topnav{
  background-color: var(--theme-light-color-primary)!important;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, var(--theme-light-color-primary) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px!important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;