.FieldImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}

.ImagePreview{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: solid #ccc 1px;
    margin: 10px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImagePreview img{
    height: 80px;
    width: auto;
}

.ChangeImage{
    font-size: 0.7em;
    color: blue;
    cursor: pointer;
}

.title{
    font-size: 1.2em;
    font-weight: 500;
    color: #222;
    opacity: 1;
}

.date{
    font-size: 0.7em;
    color: #222;
    opacity: 0.7;
}

.message{
    font-size: 0.9em;
    color: #222;
    opacity: 0.9;
}

.userName{
    font-size: 0.8em;
    color: #222;
    opacity: 1;
    font-weight: 500;
}

.userEmail{
    font-size: 0.8em;
    color: #222;
    opacity: 1;
    font-weight: 500;
}

.subtitle{
    font-size: 0.7em;
    color: #222;
    opacity: 0.7;
}

.metadata{
    margin-top: 50px;
    align-items: flex-end;
}

.responseTextarea{
    margin: 10px 0;
}

.responses{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.response{
    margin: 20px 0;
}